RewriteEngine on

RewriteCond %{HTTP_HOST} ^yacweb.ohiomeadville.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.yacweb.ohiomeadville.org$
RewriteRule ^/?$ "http\:\/\/ohiomeadville\.org\/yac" [R=301,L]

RewriteCond %{HTTP_HOST} ^omdyac.ohiomeadville.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.omdyac.ohiomeadville.org$
RewriteRule ^/?$ "http\:\/\/www\.ohiomeadville\.org\/yac" [R=301,L]

ErrorDocument 404 /work/omdyac/error/404.php
ErrorDocument 500 /work/omdyac/error/500.php